@import "../../../styles/theme.scss";

.lobby-game-controls {
  display: flex;
  z-index: 1;

  &-buttons {
    display: flex;
    flex-grow: 1;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &-waiting {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #777;
  }

  background-color: #f1f1f1;
  margin: 0 1rem 1rem 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-top-right-radius: 0;

  transition: $darkModeTransition background-color;
}

.dark {
  .lobby-game-controls {
    background-color: #292929;
  }
}

.lobby-game-code {
  display: flex;
  align-items: center;

  span {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
}
