@import "../../../styles/theme.scss";

.game-player {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &.hoverable {
    border-radius: 0.3rem;
    transition: 0.2s;

    &:hover {
      background-color: #77777722;
      cursor: pointer;
    }

    &:active {
      background-color: #77777744;
    }
  }

  &-timer {
    height: 2px;
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;

    &-bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background-color: #000;
      transition: $darkModeTransition background-color;
    }

    &.active {
      .game-player-timer-bar {
        animation: timer 2.5s linear;
      }
    }
  }

  &-avatar {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #000;

      transition: color $darkModeTransition;
    }
  }

  width: 16rem;

  &-text {
    flex-grow: 1;
  }

  &-score {
    color: #777;
  }

  &-ping {
    color: #777;
  }

  &-voted {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.dark {
  .game-player {
    &-avatar svg {
      color: #fff;
    }

    &-timer-bar {
      background-color: #fff;
    }
  }
}

@keyframes timer {
  0% {
    width: 100%;
    opacity: 0;
    background-color: #27ae60;
  }

  15% {
    opacity: 1;
  }

  50% {
    background-color: #f1c40f;
  }

  100% {
    width: 0;
    background-color: #c0392b;
  }
}
