.login-page {
  margin-top: 1rem;
  overflow-x: hidden;
  flex-grow: 1;

  .login-select {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-option {
      padding: 0.7rem 1rem;
      cursor: pointer;
      font-size: 1.7rem;
      font-weight: 300;
      transition: 0.2s;

      &.active,
      &:hover {
        &.login {
          color: var(--main);
        }

        &.signup {
          color: var(--success);
        }
      }

      &:active {
        opacity: 0.8;
      }
    }

    &-slider {
      position: absolute;
      height: 4px;
      border-radius: 2px;
      width: calc(var(--width) * 1px);
      transition: 0.5s;
      bottom: 0;
      left: calc(var(--offset) * 1px);

      &.state-1 {
        background-color: var(--main);
      }

      &.state-2 {
        background-color: var(--success);
      }
    }
  }
}

.login-slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 25rem;
  align-items: flex-start;
  height: calc(var(--height) * 1px);
  transition: 0.5s height;

  .login-item {
    width: 25rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    opacity: 0;
    flex-shrink: 0;

    transform: translateX(calc(var(--offset) * -25rem + 25rem));

    &.active {
      opacity: 1;
    }
  }
}

.login-alternatives {
  margin: 0 auto;
  width: 24rem;
}
