html,
body,
#root,
.app {
  height: 100%;
}

body {
  font-family: "Nunito";

  --card-color-1: #c0392b;
  --card-color-2: #8e44ad;
  --card-color-3: #27ae60;
  --main: #2980b9;
  --main-dark: #1c567a;
  --danger: #c0392b;
  --danger-dark: #a33428;
  --success: #27ae60;
  --success-dark: #1f864a;
  --gray: #7f8c8d;
}

.app {
  transition: 0.3s background-color, 0.3s color;
  display: flex;

  main {
    flex-grow: 1;
  }

  &.dark {
    background-color: #1e1e1e;
    color: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

.card-renderer {
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(9, 1fr);
  width: fit-content;
}
