html, body, #root, .app {
  height: 100%;
}

body {
  font-family: "Nunito";

  --card-color-1: #c0392b;
  --card-color-2: #8e44ad;
  --card-color-3: #27ae60;
}

.app {
  transition: .3s background-color, .3s color;
  
  &.dark {
    background-color: #1e1e1e;
    color: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

.card-renderer{
  padding: 2rem;
}