.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  h1 {
    margin-bottom: 1rem;
    font-weight: 100;
  }

  .game-podium-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-place {
      font-size: 2rem;
      margin-right: 1rem;
      color: #777;
      font-weight: 100;
    }

    &:nth-child(1) .game-podium-item-place {
      color: #bb9f00;
    }

    &:nth-child(2) .game-podium-item-place {
      color: #8f8f8f;
    }

    &:nth-child(3) .game-podium-item-place {
      color: #a5682a;
    }
  }

  .game-podium {
    margin-bottom: 1rem;
  }
}
