@import "../../../styles/theme.scss";

.game-cards {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  width: fit-content;
  gap: 0.2rem;
  align-self: center;
}

.game-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.game-players {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem 0;
}

.game-card-wrapper {
  border: 0.4rem solid transparent;
  padding: 0.2rem;
  border-radius: 0.8rem;
  transition: border-color $darkModeTransition, 0.2s transform;
  cursor: pointer;

  &:hover {
    border-color: #ddd;
  }

  &:active,
  &.active {
    border-color: #bbb;
    transform: scale(0.95);
  }
}

.dark {
  .game-card-wrapper {
    &:hover {
      border-color: #333;
    }

    &:active,
    &.active {
      border-color: #444;
    }
  }
}
