@import "../../../styles/theme.scss";

.game-cards {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  width: fit-content;
  gap: 0.2rem;
  align-self: center;
}

.game-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.game-players {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem 0;
}

.game-card-wrapper {
  border: 0.4rem solid transparent;
  padding: 0.2rem;
  border-radius: 0.8rem;
  transition: border-color $darkModeTransition, 0.2s transform;
  cursor: pointer;

  &:hover {
    border-color: #ddd;
  }

  &:active,
  &.active {
    border-color: #bbb;
    transform: scale(0.95);
  }
}

.dark {
  .game-card-wrapper {
    &:hover {
      border-color: #333;
    }

    &:active,
    &.active {
      border-color: #444;
    }
  }
}

.game-keyboard-selector {
  position: absolute;
  left: var(--x);
  top: var(--y);

  display: grid;
  gap: 0.2rem;
  opacity: 0;

  transition: 0.3s;
  transform: translateX(calc(50% + 0.2rem));

  pointer-events: none;

  grid-template-columns: repeat(3, 1fr);

  &-item {
    width: calc(7rem + 1.2rem);
    height: calc(7rem * (3 / 2) + 1.2rem);
    border: 0.4rem solid #ddd;
    border-radius: 0.8rem;

    &:not(.active) {
      opacity: 0;
    }
  }

  &.active {
    transform: translateX(calc(100% + 0.2rem));
    opacity: 1;
  }
}

.dark {
  .game-keyboard-selector {
    &-item {
      border-color: #333;
    }
  }
}
