@import "../../../styles/theme.scss";

.game-lobby-players {
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    padding-right: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  position: relative;

  margin-right: 0.5rem;
  overflow: auto;
  flex-grow: 1;

  &-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
  }
}

.game-lobby {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.game-lobby-ping {
  position: absolute;
  bottom: 0;
  right: 1rem;
  background-color: #f1f1f1;
  transition: $darkModeTransition color, $darkModeTransition background-color;
  padding: 0.5rem;
  // transform: translateY(3rem);
  border-radius: 0.3rem 0.3rem 0 0;
  min-width: 8rem;

  &-ping {
    display: flex;
    justify-content: space-between;
  }

  &-chart {
    height: 2rem;
    canvas {
      height: 2rem !important;
    }
  }
}

.dark {
  .game-lobby-ping {
    background-color: #292929;

    &-ping,
    &-value {
      color: #aaa;

      span {
        color: #fff;
      }
    }
  }
}
